extends layout

include _includes/sharedHTMLfunctions

//- holds the rest of the content belowe the navbar
.container
  block content
    #banner.page-header
      .row
        .col-lg-6
          //- = indicates buffered code (javascript in this case)
            HTML will be escaped in either of these injection methods.
          h1= pageHeader.title
            //- #{} deliniates inserted data
            small &nbsp; #{pageHeader.strapline}
    .row
      .col-xs-12.col-sm-8
        .error= message
        .row.list-group
          //- <single item>
          each location in locations
            .col-xs-12.list-group-item
              h4
                a(href="/location/#{location._id}")= location.name
                small &nbsp;
                  //- using the mixin (top of file)
                  +outputRating(location.rating)
              span.badge.pull-right.badge-default= location.distance
              p.address= location.address
              p
                +outputFacilities(location.facilities)
            //- <!single item>
      .col-xs-12.col-sm-4
        p= sidebar

script(src='/javascripts/jquery-3.1.1.min.js')
script(src='/bootstrap/js/bootstrap.min.js')